body{
  background-color: rgb(128, 216, 234);
  font-family: Arial, sans-serif;

}
header{
    background-color: orange;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}.watchs{
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    

    
